.container_card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 60px;
    font-size: 13px;
    
}
h1{
    text-align: center;
}
.container{
    color: rgb(0, 0, 0);
    
}

.table-info{
    margin-left: 600px;
    font-size: 20px;
    margin: auto;

}

.punto{
    margin-top: 100px;
}
.titulo{
    margin-top: 150px;
}
.btn btn-primary{
    margin: auto;
}
.ropa{
    margin-top: 100px;
}
.zapatillas{
    margin-top: 60px;
}
.titulo{
    margin-top: 60PX;
}
.container_card_hombre{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 60px;
    font-size: 13px;
    
}
.mini_titulo{
margin: auto;
font-size: 20px;
}
.tommi{
    margin-top: 100px;
}
.autor{
    margin-top: 90px;
}
